<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>sunny_im_hi.gif</string>
		<key>placeholder</key>
		<string>sunny_im_hi.png</string>
		<key>description</key>
		<string>hi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_soon.gif</string>
		<key>placeholder</key>
		<string>sunny_im_soon.png</string>
		<key>description</key>
		<string>马上赶到</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_go.gif</string>
		<key>placeholder</key>
		<string>sunny_im_go.png</string>
		<key>description</key>
		<string>出发吗</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_pay.gif</string>
		<key>placeholder</key>
		<string>sunny_im_pay.png</string>
		<key>description</key>
		<string>记得支付</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_ok.gif</string>
		<key>placeholder</key>
		<string>sunny_im_ok.png</string>
		<key>description</key>
		<string>OK</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_thanks.gif</string>
		<key>placeholder</key>
		<string>sunny_im_thanks.png</string>
		<key>description</key>
		<string>谢谢呦</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_arrive.gif</string>
		<key>placeholder</key>
		<string>sunny_im_arrive.png</string>
		<key>description</key>
		<string>我到了</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sunny_im_jam.gif</string>
		<key>placeholder</key>
		<string>sunny_im_jam.png</string>
		<key>description</key>
		<string>堵死了</string>
	</dict>
</array>
</plist>
