<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>该配置仅限于开发及测试，线上版本不会出现</string>
			<key>Key</key>
			<string>DEBUG_SETTING_IDENTIFIER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>顺风车相关配置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>启用测试地址</string>
			<key>Key</key>
			<string>SETTING_BEATLES_DEBUG_SWITCH</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>测试环境选择</string>
			<key>Key</key>
			<string>SETTING_BEATLES_DEBUG_API_SWTICH</string>
			<key>DefaultValue</key>
			<string>184</string>
			<key>Titles</key>
			<array>
				<string>.184 环境</string>
				<string>.196 环境</string>
			</array>
			<key>Values</key>
			<array>
				<string>184</string>
				<string>196</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>API 扩展测试配置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>启用扩展测试地址</string>
			<key>Key</key>
			<string>SETTING_TEMP_DEBUG_SWITCH</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>CommonURL</string>
			<key>Key</key>
			<string>SETTING_TEMP_DEBUG_API_COMMON</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>PassportURL</string>
			<key>Key</key>
			<string>SETTING_TEMP_DEBUG_API_PASSPORT</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
