<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>COMMON_URI</key>
	<string>http://10.10.10.76:8080</string>
	<key>PASSPORT_URI</key>
	<string>http://10.10.10.114:8082/passport</string>
	<key>BEATLES_URI</key>
	<string>http://10.10.10.184:8081/beatles/</string>
	<key>BEATLES_H5_URI</key>
	<string>http://10.10.10.184:8081/beatles/h5</string>
	<key>PUSH_URI</key>
	<string>10.10.10.114</string>
	<key>PUSH_PORT</key>
	<string>25269</string>
	<key>PUSH_IMFILE_URI</key>
	<string>10.10.10.114</string>
	<key>PUSH_IMFILE_PORT</key>
	<string>11116</string>
	<key>TAXI_URI</key>
	<string>http://10.10.10.76:8080/api/v2</string>
	<key>WANLIU_URI</key>
	<string>http://10.10.8.76:8080/gulfstream/api/v1/passenger/</string>
</dict>
</plist>
