<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>07:20</string>
		<key>time2</key>
		<string>09:04</string>
		<key>start</key>
		<string>清河</string>
		<key>end</key>
		<string>中关村</string>
		<key>state</key>
		<string>待出发</string>
		<key>start1</key>
		<string>建材城富力桃园</string>
		<key>end1</key>
		<string>中关村S O H O</string>
	</dict>
	<dict>
		<key>time</key>
		<string>18:15</string>
		<key>start</key>
		<string>中关村</string>
		<key>end</key>
		<string>清河</string>
		<key>state</key>
		<string>待出发</string>
		<key>time2</key>
		<string>19:36</string>
		<key>start1</key>
		<string>新中关大厦</string>
		<key>end1</key>
		<string>建材城富力桃园</string>
	</dict>
</array>
</plist>
